.module-border2 {
  border: 3px solid #fae4d3;
}

.module2 {
  border: 2px solid #ffffff;
}

.icon-color {
  color: #8c8aa7;
}

.width-leftSide {
  width: 80px;
  height: 1109px;
  position: relative;
}

.icon-setting {
  color: #9490a8;
}

.border-setting {
  border: 1px solid #cfc9eb;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}
